# AUTH token for basic security
SERVICE_TOKEN=your_long_random_hex_string_here

# Environment variables for the AI service application
IS_PROD=False 

# CORS configuration (in production, set to specific allowed origins)
CORS_ORIGINS=["*"]

# AI API credentials and configuration ( OpenAI GPT-4 )
MODEL_NAME=OpenAI's model name here
BASE_URL=url_here
API_KEY=your_secret_here

# Guard API credentials and configuration (OpenAI's Text moderation API)
GUARD_MODEL_NAME=API's moderation model name here
GUARD_API_URL=url_here
GUARD_API_KEY=your_secret_here

# Dev Guard API credentials and configuration (used in development mode for testing: free tier of Sightengine moderation API)
# NOTE: NOT used in production
DEV_API_USER=your_user_id_here
DEV_GUARD_API_URL=url_here
DEV_GUARD_API_KEY=your_secret_here

# configuration for caching and other app settings
MAX_HISTORY_MESSAGES=40   # Maximum messages kept in history ( user input + LLM output )
MAX_LOADED_HISTORY_MESSAGES=10  # Max messages to load before trimming, to balance context and performance
MAX_HISTORY_TOKENS=1500   # Maximum tokens allowed in history to prevent overflow
HISTORY_TTL_SECONDS=86400  # in seconds, default is 24 hours