# Environment variables for the AI service application
IS_PROD=False 

# AI API credentials and configuration ( OpenAI GPT-4 )
MODEL_NAME = OpenAI's model name here
BASE_URL = url_here
API_KEY = your_secret_here

# Guard API credentials and configuration (OpenAI's Text moderation API)
GUARD_MODEL_NAME = API's moderation model name here
GUARD_API_URL = url_here
GUARD_API_KEY= your_secret_here

# Dev Guard API credentials and configuration (used in development mode for testing: free tier of Sightengine moderation API)
# NOTE: NOT used in production
DEV_API_USER = your_user_id_here
DEV_GUARD_API_URL = url_here
DEV_GUARD_API_KEY = your_secret_here

RATE_LIMIT = "5/minute"