# Host Ports
API_PORT=8000
AI_PORT=8001
STT_PORT=8002
DB_PORT=5432
POSTGRES_EXPORTER_PORT=9187
STORAGE_API_PORT=9000
STORAGE_CONSOLE_PORT=9001
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# Serivce ENDPOINT (Docker network)
AI_SERVICE_ENDPOINT=http://ai-service:8000
STT_SERVICE_ENDPOINT=http://stt-service:8000
STORAGE_SERVICE_ENDPOINT=http://file-storage:9000
DB_SERVICE_ENDPOINT=http://database:5432
CACHE_SERVICE_ENDPOINT=redis://cache:6379

# Credentials :

# Database
DB_USER=admin
DB_PASSWORD=secretpassword
DB_NAME=kidsmind_db

# Storage
STORAGE_ROOT_USER=admin
STORAGE_ROOT_PASSWORD=secretpassword

# Cache
CACHE_PASSWORD=secretpassword

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=secretpassword


