.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
**/model_cache/
**/__pycache__/

node_modules/
.npm
package-lock.json
yarn-error.log
.eslintcache

/build
.env.local
.env.development.local
.env.test.local
.env.production.local

android/app/build
android/.gradle
android/generated
*.keystore
!debug.keystore

ios/Pods/
ios/build/
ios/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
*.xcuserdatad/
nosig

.expo/
dist/
web-build/

CLAUDE.md
.claude/