IS_PROD=False 

# AUTH token for basic security
SERVICE_TOKEN=your_long_random_hex_string_here

# CORS configuration (in production, set to specific allowed origins)
CORS_ORIGINS=["*"]

# 10 * 1024 * 1024 = 10 MB
MAX_SIZE=10485760

RATE_LIMIT = "5/minute"

# JWT Token settings
SECRET_ACCESS_KEY=your_long_random_hex_string_here
SECRET_REFRESH_KEY=your_long_random_hex_string_here
DUMMY_HASH=your_long_random_hex_string_here

# Cookie settings
ACCESS_TOKEN_EXPIRE_SECONDS=900 # 15 minutes
REFRESH_TOKEN_EXPIRE_SECONDS=604800 # 1 week
CSRF_TOKEN_EXPIRE_SECONDS=604800 # 1 week
COOKIE_DOMAIN= # Set to your domain in production, e.g., "kidsmind.com"

# Initial super admin bootstrap (created once if missing)
SUPER_ADMIN_EMAIL=superadmin@kidsmind.com
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=ChangeMe123!

# Frontend
WEB_CLIENT_URL="http://localhost:3000"
MOBILE_CLIENT_URL="http://localhost:3000"