IS_PROD=False 

# AUTH token for basic security
SERVICE_TOKEN=your_long_random_hex_string_here

# CORS configuration (in production, set to specific allowed origins)
CORS_ORIGINS=["*"]

# 10 * 1024 * 1024 = 10 MB
MAX_SIZE=10485760

RATE_LIMIT = "5/minute"

# JWT Token settings
SECRET_ACCESS_KEY=your_long_random_hex_string_here
SECRET_REFRESH_KEY=your_long_random_hex_string_here

# Initial super admin bootstrap (created once if missing)
SUPER_ADMIN_EMAIL=superadmin@kidsmind.com
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=ChangeMe123!

# Frontend
WEB_CLINET_URL="http://localhost:3000"
MOBILE_CLIENT_URL="http://localhost:3000"