# CPU(more compatible/slow) or GPU(requires compatible hardware and drivers/fast)
WHISPER_MODE= "gpu"

# Main Model size: tiny, medium, large-v3-turbo, large-v3 
WHISPER_MODEL = "large-v3-turbo"

# Number of CPU cores working on a single file. (only applicable if WHISPER_MODE is "cpu")
WHISPER_CPU_THREADS = 4

# More workers can transcribe multiple audio files at the same time, but increase resource usage( 2 workers = 2x resource usage)
WHISPER_NUM_WORKERS = 2

# Hugging Face read token for increased rate limits (optional, but recommended for faster downloads and to avoid hitting rate limits)
HF_TOKEN= hf_xxxxxxxxxxxxxxxxxxxxxxxxx
